@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #9900FF, #39AA6A);
}

main {
background-color: white;
width: 600px;
border-radius: 10px;
box-shadow: 5px 5px 15px rgba(15, 3, 3, 0.575);
padding: 10px;
margin: auto;
}

h1 { 
color: #8d5f10;
text-align: center;
text-shadow: 1px 1px 2px #1f1503c5 ;
}

h2 {
color:#00FF6F ;
}
p {
text-align: justify;
}