@charset "UTF-8";

body {
    background-color: rgb(138, 197, 138);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 65, 1);
}

h2 {
    color: hsl(200, 100%, 12%);
}

h1#principal {
    text-align:center ;
    background-color: green;
    color: white;
    border: solid 3px;
    border-radius: 10px;
}

.basico {
color: green
}

.intermediario {
color: hsl(64, 88%, 51%);
}

.avancado {
color: hsl(4, 93%, 45%);
}

.destaque {
    background-color: rgb(143, 143, 20);
}